@import url('https://fonts.googleapis.com/css2?family=Bree+Serif&family=Caveat:wght@400;700&family=Lobster&family=Monoton&family=Open+Sans:ital,wght@0,400;0,700;1,400;1,700&family=Playfair+Display+SC:ital,wght@0,400;0,700;1,700&family=Playfair+Display:ital,wght@0,400;0,700;1,700&family=Roboto:ital,wght@0,400;0,700;1,400;1,700&family=Source+Sans+Pro:ital,wght@0,400;0,700;1,700&family=Work+Sans:ital,wght@0,400;0,700;1,700&display=swap');

#image {
    height: 70px;
    width: 70px;
    border-radius:50px;
}

#nav1 {
    color: azure;
    font-family: Roboto;
}

#nav2 {
    color: azure;
    font-family: Roboto;
}

#nav3 {
    color: azure;
    font-family: Roboto;
}

#nav4 {
    color: azure;
    font-family: Roboto;
}

#nav5 {
    color: azure;
    font-family: Roboto;
}

.background-banner {
    background-image: url("https://images.pexels.com/photos/958545/pexels-photo-958545.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1");
    height: 100vh;
    background-size: cover;

}

.banner-text {
    text-align: center;
    color: white;
    background-color: #000000e6;
    border-radius: 30px;

    padding-top: 15px;
    padding-bottom: 15px;

}

.button {
    margin: 15px;
    color: white;

}

.head {
    font-size: 45px;
    font-family:"roboto";
    font-weight: 300;


}

.order-list {
    color: #9ac215;
    font-weight: 500;

}

.order-p {
    color: rgb(29, 33, 31);
    font-style: normal;
    font-family: "roboto";
}

.freshhealthy-button {
    color: coral;
}

.whychoose-container {
    background-color: #e8dec8;

    padding: 15px;

}

.choose-head {
    color: darkslateblue;
    font-size: 33px;
    font-family: roboto;
    font-weight: bold;

}

.choose-para {
    color: rgb(66, 52, 52);
    font-weight: 600;
}

.choose-card {
    background-color: white;
    border-radius: 25px;
    text-align: center;
    padding: 30px;

}

.choose-card-image {
    height: 60px;
    width: 60px;
}

h3 {
    color: darkslategray;
    font-family: 'roboto';
    font-weight: 400;
}

.offers {
    font-weight: bold;
    font-style: italic;
    color: black;
}

.menu {
    background-color: white;
    margin-right: 15px;
    margin-left: 15px;
    padding: 15px;

}

.menu-img {
    border-radius: 18px;

}

.menu-head {
    font-size: 28px;
    font-family: "roboto";
    font-weight: 600;
    margin-top: 15px;
    color: darkgreen;

}

.menu-link {
    color: darkgoldenrod;
    font-size: 20px;
}

.menu-card {
    border-radius: 20px;
}

.healthy-container {
    background-color: #c4d4eb;
}

.txt-align {
    text-align: center;
}

.healthy-card-img {

    border-radius: 18px;
}

.health-head {
    color: rgb(120, 20, 62);
    font-size: 29px;
    font-family: roboto;
    font-weight: bold;
}

.healthy-para {
    color: #26313a;
    font-family: "Roboto";
    font-size: 16px;
}

.custom-button {
    color: white;
    background-color: #d0b200;
    width: 130px;
    height: 45px;
    border-width: 0;
    border-radius: 8px;
    margin-right: 10px;
}

.payment-head {
    color: rgb(140, 222, 85);
    font-size: 29px;
    font-family: roboto;
    font-weight: bold;
}

.payment-card-img {
    width: 50px;
    height: 50px;
    margin-right: 28px;
}

.thanking-container {
    background-color: peachpuff;
    background-image: radial-gradient(rgb(238, 211, 124), rgb(238, 187, 18));
}

.thanking-customers-section-heading {
    color: #183b56;
    font-family: "Roboto";
    font-size: 28px;
    font-weight: 700;
}

.thanking-customers-section-description {
    color: #5a7184;
    font-family: "Roboto";
    font-size: 16px;
}

.thanking-customers-section-img {
    width: 270px;
    margin-bottom: 20px;
}

.custom-button {
    color: white;
    background-color: #577a97;
    width: 130px;
    height: 45px;
    border-width: 0;
    border-radius: 8px;
    margin-right: 10px;
}

.followus-bg {
    color: #c4d4eb;
}

.follow-head {
    color: #1c2401;
    font-family: "Roboto";
    font-size: 36px;
    font-weight: 700;
    text-align: center;
}

.icon {
    font-size: 50px;
    color: #062541;
}

.icon-img {
    height: 60px;
    width: 60px;
    background-color: #a8d4e7;
    padding-top: 6px;
    padding-left: 6px;
    margin: 20px;
    border-radius: 50px;

}

.modal-head {
    color: #b8ad30;
    font-weight: 500;
}

.modal-image {
    border-radius: 25px;

}

.footerbg {
    background-color: #0d2436;

}

.footerimg {
    height: 90px;
    width: 90px;
    clip-path: circle();

}

.txtalign {
    text-align: center;
}

.footertext {
    color: #e2eaed;
    font-size: 20px;
    font-style: italic;
    font-weight: 600;
}

.footertext1 {
    color: #9aa5b1;
    font-size: 16px;
    font-weight: 400;
}

.footerhead {
    color: burlywood;
    font-size: 28px;
    font-weight: 700;
}

.line {
    background: #ebf0f3;
    height: 1px;
    border: none;


}

.footer-visiting {
    color: bisque;
    font-size: 25px;
    font-weight: 400;

}